
html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: azure;
  background-color: #272727;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  max-width: 640px;
  margin: 50px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
}

.navbar__brand {
  display: flex;
  align-items: center;
  color: #f96a59;
}

.navbar__logo {
  margin-right: 30px;
}

.main {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form__input {
  width: 100%;
  border: none;
}

.form__label {
  display: block;
  margin-bottom: 10px;
}

.form__submit {
  background-color: #f96a59;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.form__submit:hover {
  background-color: #d25142;
}

.form__request {
  background-color: #f57c76;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.form__request:hover {
  background-color: #f96a59;
}

.form__get {
  background-color: #f96a59;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.form__get:hover {
  background-color: #d25142;
}

.div__card_list {
  margin-top: 50px;
}

.article__div__card_list {
  color: black;
  background-color: #b4b2b2;
  font-size: 16px;
  border: 2px solid rgb(34, 33, 33);
  border-radius: 10px;
  padding: 20px;
}

.card__content {
  font-size: 16px;
  line-height: 150%;
}

.card__content_star {
  font-size: 20px;
}

.card__remove_button {
  float: right;
  margin-top: 10px;
}

h4 {
  color: #929292;
  font-size: 20px;
}
