<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pctm Wallet</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="/static/logo.svg" alt="The Microblog logo" />pctm Wallet
    </div>
  </header>
  <main class="main">
    <section>
      {% if card.card_name != '' %}
        {% if card.card_name == 'show_form' %}
          <h1>Credit card information</h1>
          <form class="form" method="POST">
            <p class="form__input">
              <label for="entry" class="form__label">Name on card:</label>
              <input name="card_name" id="entry" class="form__input"></input>
            </p>
            <p class="form__input">
              <label for="entry" class="form__label">Card number:</label>
              <input name="card_number" id="entry" class="form__input"></input>
            </p>
            <p class="form__input">
              <label for="entry" class="form__label">Valid thru:</label>
              <input name="card_valid_thru" id="entry" class="form__input"></input>
            </p>
            <p class="form__input">
              <label for="entry" class="form__label">CCV:</label>
              <input name="card_ccv" id="entry" class="form__input"></input>
            </p>
            <p class="form__input">
              <label for="entry" class="form__label">Default card:</label>
              <input type="checkbox" name="is_card_default" id="entry" class="form__checkbox"></input>
            </p>
            <button type="submit" class="form__submit">Add card</button>
          </form>
        {% else %}
          <div class="div__card_added">
            <br><h2>Card added successfully!</h1><br>
            <article class="article__card_added">
              <p class="card__add_content">
                <p>{{ card.card_name }}</p>
                <p>{{ card.card_number }}</p>
                <p>{{ card.card_brand }}</p>
                {% if card.is_card_default %}
                  <p>Default card</p>
                {% endif %}
              </p>
            </article>
          </div>
        {% endif %}
      {% else %}
        <article class="wallet__empty">
          <p class="wallet__empty_text">
            <br>
            <h4>Your wallet is empty</h4>
            <img src="/static/sad_face.svg" alt="Sad face" />
          </p>
        </article>
        <form class="get_form" method="POST">
          <button type="submit" class="form__get">Add card</button>
        </form>
      {% endif %}
    </section>
  </main>
</body>
</html>