{% extends 'base.html' %}

{% block content %}
    <form class="form" method="POST">
    <input type="hidden" name="form_class" value="get_card_form" />
    <button type="submit" class="form__request">+</button>
    </form>
    {% for card in card_list %}
        <div class="div__card_list">
            <article class="article__div__card_list">
                <p class="card__content">
                <p>{{ card.card_name }}</p>
                <p>{{ card.card_number }}</p>
                <p>{{ card.card_brand }}</p>
                {% if card.is_card_default %}
                    <p>Cartão principal</p>
                {% endif %}
                </p>
            </article>
        </div>
    {% endfor %}
{% endblock %}