<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pctm Wallet</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="/static/logo.svg" alt="pctm Wallet" />pctm Wallet
    </div>
    <div>
      {% if show_logout_button %}
        <form method="POST" action="{{ url_for('wallet.logout') }}">
          <button type="submit" class="form__submit">Logout</button>
        </form>
      {% endif %}
    </div>
  </header>
    <main class="main">
    {% for message in get_flashed_messages() %}
      <div class="alert">
        <p>{{ message }}</p>
      </div>
    {% endfor %}
    {% block content %}
    
    {% endblock %}
  </main>
</body>
</html>