{% extends 'base.html' %}

{% block content %}
<h3>Criar conta</h3>
<form class="form" method="POST">
    <p class="form__input">
        <label for="entry" class="form__label">Email:</label>
        <input name="user_email" id="entry" class="form__input"></input>
    </p>
    <p class="form__input">
        <label for="entry" class="form__label">Senha:</label>
        <input name="user_password" type="password" id="entry" class="form__input"></input>
    </p>
    <button type="submit" class="form__get">Criar conta</button>
</form>
<p>Já possui uma conta?
    <a href="{{ url_for('wallet.home') }}">Entrar</a>
</p>
{% endblock %}